<div class="card">
  <div class="card-img-wrapper">
    <img
      src="images/appartments/images.jpeg"
      alt="Property Image"
      class="card-img-top"
    />
    <ul class="list-inline text-center member-icons animate">
      <li class="list-inline-item">
        <button class="btn btn-primary">E</button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary">C</button>
      </li>
    </ul>
  </div>
  <div class="card-body p-1">
    <h1>{{ property.name }}</h1>
    <h1>{{ property.type }}</h1>
    <h1>{{ property.price }}</h1>
  </div>
</div>
